<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="tests/bootstrap.php" forceCoversAnnotation="false" processIsolation="false">

  <php>
    <ini name="error_reporting" value="-1"/>
    <server name="KERNEL_DIR" value="app/"/>
    <server name="KERNEL_CLASS" value="AppKernel"/>
    <env name="APP_ENV" value="test" force="true"/>
    <!-- Disables the Zend OPcache during tests to prevent it from stripping file lines needed for coverage tracking -->
    <ini name="opcache.enable" value="0"/>
  </php>

  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <!-- Code coverage filter configuration -->
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
      <exclude>
        <directory>src/*Bundle/Resources</directory>
        <directory>src/*Bundle/Tests</directory>
        <directory>src/*/*Bundle/Resources</directory>
        <directory>src/*/*Bundle/Tests</directory>

        <directory>src/AppBundle/DataFixtures</directory>
        <file>src/AppBundle/AppKernel.php</file>
      </exclude>
    </whitelist>
  </filter>

  <listeners>
    <listener class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitListener"/>
  </listeners>

  <!-- Optional: Automatically generates coverage reports in HTML and text formats during execution -->
  <logging>
    <log type="coverage-html" target="var/coverage" lowUpperBound="35" highLowerBound="70"/>
    <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
  </logging>
</phpunit>
